<div class="container text-center">
    <div class="container">
        <h2><U>CRUD Application</U></h2>
    </div>

    <a href='student/addStudent' type="button" class="btn btn-info btn-lg btn-block" name="addStudent">ADD STUDENT</a>
    <a href='student/displayStudent' type="button" class="btn btn-danger btn-lg btn-block" name="displayStudent">Display
        Student</a>
    <a href='student/updateStudent' type="button" class="btn btn-primary btn-lg btn-block" name="updateStudent">Update
        Student</a>
    <a href='student/deleteStudent' type="button" class="btn btn-lg btn-block btn-success" name="deleteStudent">Delete
        Student</a>
    <a href='student/logout' type="button" class="btn btn-lg btn-block btn-danger" name="logout">LOG OUT</a>

</div>